/* Alina - header start here */
body{
    font-family:  'Open ', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    font-weight: 300;
    box-sizing: border-box;
}

.container{
    max-width: 1400px;
    margin: auto;
    margin-top: 70px;
    display: grid;
    grid-template-columns: 1.75fr 4fr 1.25fr;
    grid-gap: 15px;
}

header {
    display: flex;
    position: fixed;
    top: 0; 
    width: 100%;    
}

.home, 
.icon-bar {
    font-size: 20px;
    display: flex;
    justify-content: start;
    height: 50px;
}

.home {
    padding: 0 20px;
    background-color: rgb(23, 102, 155);
    min-width: 150px;
}

.icon-bar ul{
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;  
}

.icon-bar ul li{
    padding: 0px 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 0;
}

.icon-bar {
    background-color: rgb(35, 160, 218);
    width: 100%;
}

.fa-home {
    margin-right: 15px;
}

.active-home {
    color: white;
    text-decoration: none;
    padding: 10px 0 0 15px;
}
li i {
    color: white;
}
.home:hover {
    background-color: lightgrey;
}
.home:hover a {
    color: black;
    cursor: pointer;
}
.icon-bar li:hover  {
    background-color: white;
    cursor: pointer;
}
.icon-bar li:hover .fa  {
    color: black;
}
/* Alina - header ends here */

/* TUBA'S PART */

/* My Profile Part*/

.profile, .my-group, .box-one, .box-two,
.post, .box {
    margin-top: 15px;
} 

.profile img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.left .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
    padding: 0 15px;
    box-shadow: 0 0 10px 3px lightgray;
}
.profile h2{
    font-weight: lighter;
}

.profile #pro-img, .profile h2{
    align-self: center;
}

.profile ul{
    align-self: flex-start;
    padding: 0;
}

.profile ul li{
    list-style: none;
    padding-bottom: 8px;
}

.profile .fas{
    color: gray;
    padding-right: 20px;
}

/* My Group Part*/

.clr{
    clear: both;
}

.my-group{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px lightgray;
}

.my-group ul{
    list-style: none;
    padding: 0;
}

.my-group a{
    text-decoration: none;
    color: white;
    background-color: #199de5;
    padding: 10px 20px;
}

#photos{
    padding: 15px 20px;
}

#photos div{
    float: left;
    width: 40%;
    padding: 5%;
}

#photos div img{
    width: 100%;
    height: 100px;
}

.my-group ul, .my-group p{
    padding: 0 20px;
}

/* Tuba's part done!*/

/*Aya's part-two begins here*/

.box-one{
    padding: 10px;
    border: solid 1px #D3D3D3;
    border-radius: 4px;
    box-shadow: 0 0 10px 3px lightgray;
}
.interests{
    padding-top: 20px;
    background-color: white;
}
.interests span{
    padding-left:10px;
    padding-right: 10px;
    margin-top:5px;
    font-size: small;
}
.dark-blue{
    background-color:rgb(35, 97, 147);
    color: white;
    border: solid 1px rgb(26, 77, 120);
}
.light-blue{
    background-color: rgb(30, 149, 252);
    border: solid 1px rgb(30, 149, 252);
    color: white;
}
.dark-grey{
    background-color: darkgray;
    border: solid 1px darkgray;
}
.light-grey{
    background-color:lightgray;
    border: solid 1px lightgray;
}
.greyish{
    background-color: silver;
}
.grey{
    background-color: rgb(230, 230, 230);
}
.box-two{
    position: relative;
    background-color: gainsboro;
    border: solid 1px gray;
    border-radius: 4px;
    margin-bottom:10px;
}
.hey{
    padding: 10px 10px 0 10px;
}

.hey .icon{
    position: absolute;
    top: 0;
    right: 0;
    background-color: silver;
    padding: 5px 5px 5px 15px;
}

.hey .icon:hover{
    cursor: pointer;
    background-color: #eee;
}
/*Aya's part-two ends here*/

/* Viktoriia's middle section beginning */
.post {
    border: 1px solid lightgrey;
    border-radius: 3px;
    padding: 8px;
}

.search {
    border: 1px solid lightgray;
    margin: 5px;
    padding: 10px; 
    width: 90%;  
}
.fas {
    margin-right: 8px;
}
.post button{
    margin: 5px 5px 0 5px;
}
.like,
.comment {
    margin-top: 8px;
}
.post button,
.like,
.comment {
    color: white;
    background-color: rgb(25,157,229);
    border: none;
    padding: 10px 15px;
}
.post button:hover,
.like:hover,
.comment:hover {
    background-color: darkgrey;
    color: black;
}

.name {
    margin-top: 10px;
}
.avatar {
    width: 15%;
    height: 15%; 
    border-radius: 50px; 
    float: left;
}
.name h4 {
    float: left;
    margin-left: 15px;
}
.name .time {
    float: right;
    color: grey;
}
hr {
    border: none; 
    height: 1px; 
    background: lightgray; 
}
.clr {
    clear: both;
}

.picture1, .picture2 {
    width: 45%;
}
.picture1 {
    margin-right: 5px;
}
.picture2 {
    margin-left: 5px;
}
/* Viktoriia's middle section end */

/* Aigerim's part */
.picture {
    width: 90%;
}
hr {
    margin: 15px 0;
}
.post {
    box-shadow: 0 0 10px 3px lightgray;
}
.third{
    margin-bottom: 20px; 
}
/* Aigerim's part end */

/*Zarian's part*/

.btn {
    background-color: #eee;
    border: none;
    width: 100%;
    padding: 8px 16px;

}

.btn:hover {
    background-color: lightgrey;
    border: solid 1px blue;
    border-radius: 5px;
}

.box {
    padding: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 10px 3px lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row-one img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

.row-two img {
    width: 50%;
    vertical-align: middle;
}

.buttons {
    display: flex;
    overflow: hidden;
    vertical-align: middle;
}

.btn-1 {
    border: none;
    width: 100%;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba(98, 165, 98, 0.7)
}

.btn-2 {
    border: none;
    width: 100%;
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: rgba(190, 76, 76, 0.7);
}
.btn-1 .fa, .btn-2 .fas {
    color: white;
}

.btn-1:hover .fa,
.btn-2:hover .fa {
    color: black;
}

.btn-1:hover,
.btn-2:hover {
    background-color: lightgrey;
}

.btn-1 .fa,
.btn-2 .fa {
    color: white;
}

.btn-1:hover .fa,
.btn-2:hover .fa {
    color: black;
}

.btn-1:hover,
.btn-2:hover {
    background-color: lightgrey;
}

/* ALINA - footer starts here */
footer {
    color: white;
    width: 100%;
}
.upper-footer {
    background-color:  rgb(35, 160, 218);
    font-size: 20px;
    padding: 30px 10px;
    
    width: 100%;
}
.lower-footer {
    background-color:  rgb(23, 102, 155);
    padding: 15px 10px;
    width: 100%;
}
.lower-footer a {
    color: white;
}
/* ALina - footer ends here */


@media (max-width:600px){
    header .icon-bar ul{
        display: none;
    }

    .container{
        display: block;
        width: 95%;
        margin: auto;
        margin-top: 80px;
    }

    .left, .center, .right{
        display: block;
        margin-bottom: 50px;
    }
    
    .my-group, .box-one, .box-two,
    .post, .box{
        margin-top: 20px;
    }

    .center{
       width: 90%;
       margin: auto;
    }
    #photos div{
        float: none;
        width: 100%;
        padding: 0;
    }

    #photos div img{
        width: 100%;
        height: 250px;
        padding: 5px 0;
    }

    .left .box-one, .left .box-two{
        display: none;
    }

    .row-two .buttons{
        display: block;
    }

    .row-two .buttons .btn-2{
        margin-top: 30px;
    }

    .box .row-four{
       padding: 30px 0;
    }

    .picture1, .picture2{
        width: 95%;
        margin-left: 10px;
    }
} 



